/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2018, 7:02:19 PM
    Author     : 00140403
*/
#cabecera{
    font-family: Rockwell Condensed;
    font-size: 50px;
    color: #5F6A6A;
    text-align: center;   
}
ul li{
    list-style-type: none;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    font-family: Rockwell;
    background: #424949;
    color: #E67E22;
    padding: 15px;
    border-radius: 100px;
}
#Menu{
    text-align: center;
}
img{
    border-radius: 100px;
    
}
#cuerpo{
    text-align: center;
    font-family: Arial;
    font-size: 17px;
    color: #1C2833;
}
#pie{
    background: #424949;
    text-align: center;
    font-size: 24px;
    color:#E67E22;
}
form{
    margin: 0 auto;
    width: 700px;
    background: #5F6A6A;
    padding: 5px;
    border-radius: 10px;
}
hi{
    text-align: center;
}
form div{
    margin-bottom: 5px;
}
label{
    font-family: Rockwell;
    width: 100px;
    text-align: right;
    display: inline;
}
input{
    width: 200px;
}
textArea{
    width: 400px;
    vertical-align: middle;
}
